.calculator {
    width: 200px;
    margin: 0;
    padding: 20px;
    border: 1px solid #fff;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
  }
  
#display{
    background-color: #fff;
    width: 180px;
    padding: 8px;
    border-radius: 20px;
  }
  
  .calculator input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .calculator button {
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 20px;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
